* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --main-color: #d62828;
}
@font-face {
  font-family: "fibreVintage";
  src: url(fibre-font.otf);
}
body {
  background-image: url(img/00dfe4987f2374d27c8b69a6f0f4999b.png);
  background-attachment: fixed;
  padding: 3rem;
}

.secPage-2 {
  width: 100%;
  background-image: url(img/e9e46d6503b1af4251a66afb588478fb.jpg);
  height: 65vh;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.header {
  /* position: relative; */
}
.ulList {
  background-color: #1d1d1d;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  top: 185px;
  bottom: 0;
  width: 25vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  list-style: none;
  padding: 4rem 0;
  display: none;
}
.ulList li {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  padding: 1rem 0;
}
.ulList a {
  text-decoration: none;
  color: #fff;
}

.secPage-2 nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22vh;
  padding: 0rem 3rem;
  font-family: "Poppins", sans-serif;
}

.secPage-2 nav .ULICON ul {
  display: flex;
  margin-right: 18rem;
  text-transform: uppercase;
}

.secPage-2 nav .ULICON ul li {
  margin: 0 20px;
  font-size: 1.3rem;
  font-weight: 400;
  list-style: none;
}

.secPage-2 .ULICON ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.secPage-2 .ULICON .active a {
  color: white;
  border-bottom: 3px solid #fff;
}
.Navicons i {
  position: absolute;
  color: #fff;
  font-size: 1.3rem;
  border: 2px solid #fff;
  padding: 9px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  margin: 0 5px;
  text-align: center;
  position: relative;
}
.ULICON {
  display: flex;
  align-items: center;
}
.ULICON i {
  color: hsl(0, 5%, 80%);
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.Navicons i::after {
  content: "0";
  position: absolute;
  font-size: 12px;
  top: -7px;
  left: 20px;
  background-color: #d62828;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.secPage-2 .textHomeShop {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 38vh;
}
.secPage-2 .textHomeShop h1 {
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}
.secPage-2 .textHomeShop h1 span {
  color: hwb(0 100% 0% / 0.285);
}
.sec-Desk div {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7rem 0;
  text-align: center;
}
.sec-Desk div h3 {
  font-family: "fibreVintage";
  font-size: 4rem;
  text-transform: uppercase;
}
.sec-Desk div button {
  width: 270px;
  height: 60px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: var(--main-color);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  margin-top: 3.5rem;
  cursor: pointer;
}
footer {
  text-align: center;
  padding: 3rem 0;
}
footer p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}
footer p a {
  color: #d62828;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bolder;
}
@media (max-width: 1200px) {
  .secPage-2 nav .Navicons {
    display: flex;
  }
  nav .Navicons i {
    font-size: 1.1rem;
  }
  .secPage-2 nav .ULICON ul {
    margin-right: 0;
  }
}
@media (max-width: 992px) {
  .secPage-2 nav .ULICON ul {
    display: none;
  }
  .secPage-2 .container .content h1 {
    font-size: 5rem;
  }
  .secPage-2 .container .content p {
    font-size: 1rem;
  }
  .ULICON i {
    display: block;
  }
}
@media (max-width: 768px) {
  nav .Navicons i {
    font-size: 0.9rem;
  }
}
@media (max-width: 576px) {
  nav img {
    width: 50px;
    margin-left: -30px;
  }
  nav .Navicons {
    margin-left: 20px;
  }
  nav .Navicons i {
    font-size: 0.6rem;
  }
  .ULICON i {
    font-size: 1.4rem;
  }
  .Navicons i::after {
    width: 20px;
    height: 20px;
  }
  .sec-Desk div h3 {
    font-size: 3rem;
  }
}
